@mixin mediaQuery {
  @media (min-width: 768px) {
    #app {
      padding: 20px !important;
      grid-template-columns: 1fr 1fr !important;
    }
    .editor {
      grid-column: 1/2;
      grid-row: 1/2;
      margin: 0 !important;
      margin-right: 70px !important;
    }
    .preview {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }
}
